@import "tailwindcss";

@theme {
  --font-redaction: "redaction", serif;
  --font-redaction-10: "redaction-10", serif;
  --font-redaction-20: "redaction-20", serif;
  --font-redaction-35: "redaction-35", serif;
  --font-redaction-50: "redaction-50", serif;
  --font-redaction-70: "redaction-70", serif;
  --font-redaction-100: "redaction-100", serif;
}

@utilities {
  .font-redaction {
    font-family: var(--font-redaction);
  }
  .font-redaction-10 {
    font-family: var(--font-redaction-10);
  }
  .font-redaction-20 {
    font-family: var(--font-redaction-20);
  }
  .font-redaction-35 {
    font-family: var(--font-redaction-35);
  }
  .font-redaction-50 {
    font-family: var(--font-redaction-50);
  }
  .font-redaction-70 {
    font-family: var(--font-redaction-70);
  }
  .font-redaction-100 {
    font-family: var(--font-redaction-100);
  }
}

body {
  background-color: #fafafa;
}
